html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 2px solid black;
    padding: 10px 20px;
  }
  
  th {
    background-color: none;
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: transparent;
  }
  
  tr:nth-child(odd) td {
    background-color: burlywood;
  }
  
  caption {
    padding: 10px;
  }