.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  section {
    background-color: rgb(220, 165, 165);
    border-radius: 4px;
    padding: 1rem;
  }
  img{
    width: 100%; 
    height: auto;
  }

  p{
    float: left;
  }
  h1,footer{
    text-align: center;
  }

  