p{
    font-size: 15px;
}
body {
    font-family: 'Sofia Sans', sans-serif;
  }
a:link {
    color: black;
  }

  a:visited {
    color: firebrick;
  }
header{
    background-color: #f7af9d;
    text-align: center;
    color:black;
    padding: 5px;
}

h3,h4{
    color:black;
   text-align: left;
}


img{
    width:100%;
    margin-top:5px;
}

section{
    margin: 20px;
    border-style: solid;
    background-color: whitesmoke;
    padding:7px;
}
footer{
    text-align: center;
    border-style: dotted;

}