html {
    max-width: 950px;
    margin: auto;
}


#white,#lightyellow,#black {
    padding: 10px;
    text-align: center;
    border: solid;
}

#white{background-color: white;}
#lightyellow{background-color: #FFFFE0;}
#black{background-color: #000000;
color:white }

h1,footer{
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





