html {
    max-width: 950px;
    margin: auto;
}


#white,#lightyellow,#black {
    padding: 10px;
    text-align: center;
    border: solid;
}

#white{background-color: white;}
#lightyellow{background-color: #FFFFE0;}
#black{background-color: #000000;
color:white }

h1,footer{
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


nav {
    background-color: black;
    margin: 0 auto;
    max-width: 780px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.active {
    color: red;
}



@media only screen and (min-width: 37.5em) {
    nav ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-columns: repeat(auto-fill);}
    
                nav a {
                    font-size: 1rem;
                }
    
          

            }

        



