
html{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 15px;
}
body{
    background-color: #37505c;
}

header {
    
    background-color: white;
    color: black;
}

.logo {
    width: 70px;
    float: left;
    margin: 1em;

}
.face{
    width: 30px;
    float: right;
    margin: 1em;
}

.date {
    color: black;
    text-align: center;
    margin: 0.5em;
    
}

 h1 {
     font-size: 30px;
     text-align: center;
 }

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: white;
    
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {

    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
  
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    color: black;
}

#menu::before {
    content: "≡";
    font-size: 2rem;
}

.navigation a:hover {
background-color: #F76F8E;
color:white;
   
}



.responsive #menu::before {
    content: "X";
}


main section {
    color: black;
    height: 100%;
    margin: 10px;
    background-color: #F1F7EE;
}

.spotlight section{
    border:  solid 3px #37505c;
}


.spotlight p {
    margin: auto;
text-align: center;

   
}

main .join {
    display: none;
}

.spotlight p:nth-child(3) {
    display: none;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
  
  
}


footer a{
    text-decoration: none;
    color: black;
}

.announcement{ background-color: firebrick;
margin: 10px;
 font-size:  10px;
 text-align: center;
color: white;}

.hero{
    background-color: transparent;
    border: none;
}


.button {
    background-color: #F76F8E;
    border: solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  




    