

html{
    font-family: 'Sofia Sans',sans-serif;
    font-size: 15px;
}
body{
    background-color: #37505c;
}

header {
    
    background-color: white;
    color: black;
}

.logo {
    width: 80px;
    float: left;
    margin: 1em;
    border: none;

}

.footerlogo{
    width: 70px;
    float: left;
    margin: 1em;
    border: none;
}
.face{
    width: 30px;
    float: right;
    margin: 1em;
}

.date {
    color: black;
    text-align: center;
    margin: 0.5em;
    
}

 h1 {
     font-size: 30px;
     text-align: center;
 }

 nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #F76F8E;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #37505c;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}



main section {
    color: black;
    height: 100%;
    margin: 10px;
    
    
    
}

/*index main*/
main{
    background-color: #F1F7EE;
}


main figure.myphoto{
    width: 200%;
    margin: 1rem;
}
main figure.myphoto img {
    width: 100%;}



main .join {
    display: none;
}



.spot{
    margin: 5em;
    text-align: justify;

    

}

.indexh6{
    margin: 1em;
}
.spotlight p:nth-child(3) {
    display: none;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
  
  
}


footer a{
    text-decoration: none;
    color: black;
}

.announcement{ background-color: firebrick;
margin: 10px;
 font-size:  15px;
 text-align: center;
color: white;}

.hero{
    background-color: transparent;
    border: none;
}


.button {
    background-color: #F1F7EE;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
}

.button:hover {
    background-color: #F76F8E;
    color: white;
  }
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F1F7EE;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: #F76F8E;
  }



  .center {
    display: none;
  }

 h2,h3,h4 ,h5,h6{
    text-align: center;
    font-size: 15px;
    border: solid 1px;
    border-color: #37505c;
 }

 
 .weather,.ice,.news,.join{
    text-align: left;
    margin: 1em;
 }
 
/*discover page*/

.discvoer{
    grid-template-columns:  none;
    grid-template-rows: none;
}
picture img {
    display: block;
    margin: 1rem auto;
    border: solid 2px;
  }
  picture img[data-src] {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  .discoverh{
    font-size: 50px;
    border: none;
  }

  figcaption{
    text-align: center;

    font-weight:bold;
    margin: 1em;
    
}

form{
    margin: 20px;
}
