
html{
    font-family: 'Sofia Sans',sans-serif;
}
body{
    background-color: #37505c;
}

header {
    
    background-color: #F76F8E;
    color: black;
}

.logo {
    width: 111px;
    float: left;

}
.face{
    width: 40px;
    float: right;
}

.date {
    color: white;
    text-align: center;
    margin: 0.5em;
    background-color: #F76F8E;
}

 h1 {
     font-size: 30px;
     text-align: center;
 }

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #F76F8E;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

#menu::before {
    content: "≡";
    font-size: 2rem;
}

.navigation a:hover,
navigation a:active {
    color: black;
   
}


.responsive li {
    display: block;
}

.responsive #menu::before {
    content: "X";
}


main section {
    background-color: white;
    height: 100%;
    margin: 10px;
    border: solid 4px #F76F8E;
}

main section p {
    padding: 5%;
    font-size: 18px;
}

.spotlight p {
    height: 100px;
    margin: 5%;
}
.spotlight p {
    border: solid 1px #F76F8E;
    height: 100px;
    margin: 5%;
}
main .join {
    display: none;
}

.spotlight p:nth-child(3) {
    display: none;
}

footer{
    background-color: #F76F8E;
    color: black;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: black;
}


