html{
	padding: 20px;
}
body{
 border: 8px solid #75c9c8;
 padding: 13px;
}



nav {
	margin: 0 auto;
	max-width: 760px;
	background-color:  #ded9e2;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: black;
	background-color: #c0b9dd;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}

h1{
	text-align: center;
	font-size: 50px;
	 ;

}

h2,h3,h4{
	font-size: 20px;
	text-align: center;
	padding: 3px;
	
}


footer{
	text-align:center;
	padding: 5px;
	border: solid 5px #c0b9dd
}
section{
	
	padding: 3px;
}

.logo{
	width: 100px;
	padding: 5px;
	float: left;
}
.sm{
	width: 20px;
	float: right;
	padding: 2px;
	

}