html{
    max-width: 850px;
    margin: auto;
 font-size: 20px;
    text-align: center;
}

li{list-style: none;}
ul{
    text-align: left;
}


a:link {
    color: black;
  }
  

  a:visited {
    color: black; /* I will change this later to a different  color */
  }
  
  
header,h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: #b0d0d3;
    
}


footer{
    background-color: #b0d0d3;
    font-style: normal;
    font-size: 15px;
    padding: 0.1px;
}

main{
    border: solid;
    border-color: black;
    background-color: #f7af9d;
    
}
 
    img {
   
        padding: 5px;
        width: 150px;
        
        padding: 10px;
      }
      
  