html{
    max-width: 950px;
    margin: auto;
 font-size: 20px;
    text-align: center;
}

li{list-style: none;}
ul{
    text-align: left;
}


a:link {
    color: black;
  }
  

  a:visited {
    color: ghostwhite; 
  }
  
  
header,h1{
   
    background-color: #b0d0d3;
    display: grid;
    grid-template-columns: 400px 1em;
    align-items: center;
    justify-content: center;
    
}


footer{
    background-color: #b0d0d3;
    font-style: normal;
    font-size: 15px;
    padding: 0.1px;
}

main{
    border: solid;
    border-color: black;
    background-color: #f7af9d;
    
}
 
    img {
   
        padding: 5px;
        width: 150px;
        
        padding: 10px;
      }
      
  